@import "tailwindcss";

html {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: "Pretendard Variable", "Pretendard", "Noto Sans KR", sans-serif;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

.defer-render-section {
  content-visibility: auto;
  contain-intrinsic-size: 900px;
}
